<!-- <div id="decoTips" class="contentbox">
  <p> Tips </p>
<p>1. Set The Tone at The Front Door</p>
<p>2. Keep Wall Colors Light and Neutral</p>
<p>3. Make Sure Your Sofa Talks to Your Chairs</p>
<p>4. Let The Sun Shine In</p>
<p>5. Scale Artwork to Your Wall</p>
<p>6. Call in a Pro to Declutter</p>
<p>7. Use Visual Tricks to Raise The Ceiling</p>

</div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/OhG0F32GIWM" frameborder="0" allowfullscreen></iframe> -->


 <!-- ========== carousel ======= -->

 <div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 7</div>
  <img src="images/tablebottom.jpg" style="width: 100%" height="500px">
  <div class="text">Dinning Table</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 7</div>
  <img src="images/tableTop.jpg" style="width: 100%" height="500px">
  <div class="text">Dinning Table</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 7</div>
  <img src="images/table.jpg" style="width: 100%" height="500px">
  <div class="text">Hand carved dinning table</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">4 / 7</div>
  <img src="images/sofa.jpg" style="width: 100%" height="500px">
  <div class="text">Sleeper sofa</div>
</div>


<div class="mySlides fade">
  <div class="numbertext">5 / 7</div>
  <img src="images/sofabtm.jpg" style="width: 100%" height="500px">
  <div class="text">Sleeper sofa</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">6 / 7</div>
  <img src="images/bed2.jpg" style="width: 100%" height="500px">
  <div class="text">Caption Three</div>
</div>


<div class="mySlides fade">
  <div class="numbertext">7 / 7</div>
  <img src="images/bed.jpg" style="width: 100%" height="500px">
  <div class="text">Caption Three</div>
</div>


<a id="prev">&#10094;</a>
<a id="next">&#10095;</a>


</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
  <span class="dot" onclick="currentSlide(5)"></span>
  <span class="dot" onclick="currentSlide(6)"></span>
  <span class="dot" onclick="currentSlide(7)"></span>

</div>
