<!-- ======= views/menu.erb ======= -->
<div class="menu-item"><a href="/">Home</a></div>
<div class="menu-item"><a href="decor">Furniture</a></div>
<div class="menu-item"><a href="small_spaces">Sign Up</a></div>
<div class="menu-item"><a href="outdoor">Baroque</a></div>



<!-- <div class="dropdown">
  <div id="menubar">Menu</div>
  <div class="dropdown-content">
    <a href="/">Home</a>
    <a href="decor">Decor</a>
    <a href="small_spaces">Small Spaces</a>
    <a href="outdoors">Outdoors</a>
  </div>
</div> -->





<!-- <div class="menu-item">profile</div>
<div class="menu-item">portfolio</div>
<div class="menu-item">resume</div>
<div class="menu-item">interests</div>
<div id="signin-box">
  <div class="signin-item"><a href="/signin_form">Sign In</a></div>
  <div class="signin-item"><a href="/signup_form">Sign Up</a></div>
</div>
<div id="signin-box">
  <div class="signin-item"><a href="/signout">Sign Out</a></div>
</div> -->
