<div id="icons">
<a href="https://www.facebook.com/baroque.inethiopia?fref=ts" class="fa fa-facebook"></a>
<a href="http://www.baroqueinethiopia.com/" class="fa fa-google"></a>
<a href="https://www.youtube.com/" class="fa fa-youtube"></a>
</div>
<div id="baroquetxt">
  <p3>
    Baroque Interiors and Events is a new private limited liability company (PLC)
    that was established in 2011 G.C. Its headquarters is located in Addis Ababa, Ethiopia.

The main business activity of Baroque Interiors and Events is the design and styling of both commercial and residential interiors based on
turnkey contracts. The company is also involved in event planning and management.
  </p3>

</div>
