<!-- <p> please log in</p>

  <form action="/signin" method="post">
    <div class="signin-item"><input class="signin-item" type="text" value="name" name="firstname"></div>
    <div class="signin-item"><input class="signin-item" type="text" value="name123" name="lastname"></div>
    <div class="signin-item"><input class="signin-item" type="submit" value="SIGN IN"></div>
  </form> -->
<div id="textbox">
  <p3> Sign up for our monthly brochers and get a free one on one conceltation
    with one of our talented designer plus 20% off your first order.
    For custom designes please come by our furniture store located in Getu building Bole Rwanada,
    4th floor next to Baroque's main office.
  </p3>
</div>
  <form action="/action_page.php">

    <div class="container">
      <input type="password" placeholder="Repeat Password" name="psw" required>

      <input type="password" placeholder="Enter Password" name="psw-repeat" required>
      <input type="text" placeholder="Enter Email" name="email" required>
<div id="rememberMe">
      <input type="checkbox" checked="checked" a href=""> Remember me
</div>
 <div class="clearfix">
        <!-- <button type="button" class="cancelbtn">Cancel</button> -->
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>
